button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 10%;
  text-align: center;
  margin: 0 auto;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  margin-left: 50px;
}

textarea {
  width: 50%;
  height: 150px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 50px;
}