body {
  background-color: #222225;
  color: #e22828;
  text-shadow: 0 0 8px #e22828;
  font-family: Courier New, monospace, serif;
}

button {
  font-family: Courier New, monospace, serif;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: #e22828;
  background: transparent;
  border: 1px solid #e22828;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background-color: #e22828;
  color: #222225;
}

textarea {
  width: 85%;
  height: 450px;
  font-family: Courier New, monospace, serif;
  font-size: 16px;
  color: #e22828;
  text-shadow: 0 0 8px #e22828;
  padding: 10px;
  border: 1px dashed #e22828;
  margin-bottom: 10px;
  background: transparent;
}

.homepage {
  padding: 16px;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.navbar-link {
  color: #e22828;;
}

.table-border {
  border: 2px dashed;
}
.page-content {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.print-table {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  }

.title {
  color: #e22828;
  text-shadow: 0 0 8px #e22828;
  margin-bottom: 16px;
}

.title-link {
  text-decoration: none;
}

.page-title {
  text-align: center;
  padding: 16px;
}