body {
  background-color: #222225;
  color: #62c4ff;
  font-family: Courier New, monospace, serif;
}

button {
  font-family: Courier New, monospace, serif;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: #62c4ff;
  background: transparent;
  border: 1px solid #62c4ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background-color: #62c4ff;
  color: #222225;
}

textarea {
  width: 85%;
  height: 450px;
  font-family: Courier New, monospace, serif;
  font-size: 16px;
  color: #e8e9ed;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  background: transparent;
}

.homepage {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar-link {
  color: white;
}

.main-content {
  display: flex;
}

.page-content {
  flex-grow: 1;
  margin-left: 16px;
}

.title {
  color: #62c4ff;
  margin-bottom: 16px;
}

.title-link {
  text-decoration: none;
}